.page-header {
    background: $off-white;
    margin-bottom: $l-size;
    //padding: $l-size 0;
    //margin: 0;
}

.page-header__title {
    margin: 0;
    font-weight: 300;
    
    span {
        font-weight: bold;
    }
}

.page-header__actions {
    //margin-top: $m-size;
}

.cover{
    margin: 0;
    background-color: white;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.margincontainer{
margin: 0;
}

.page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2signin{
    margin: 0;
        font-size: 3rem;
        font-weight: 500;
        color: $dark-blue;
}

.logocenter{
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.signup{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.buttomcenter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}