/* .Resize-ExpenseSummary{
    width: 20rem;
    height: 20rem;
}
.marginexpense{
    margin: auto;
} */
.centerboth{
    align-items: center;
}

.resize-chartinfo{
    width: 65%;
    display:inline-block;
    justify-content: center;
    align-items: center;


}
.resize-categoryinfo{
    width: 35%;
    display:inline-block;
    justify-content: center;
    align-items: center;
}